<app-client-nav></app-client-nav>
<div class="container" id="cartBody">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-borderless" style="border:none">
        <thead class="bg-warning">
          <tr class="text-center">
            <th scope="col">Book Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of cartItems" >
            <td>{{cart.productName}}</td>
            <td class="text-center">{{cart.price}}</td>
            <td class="text-center">{{cart.quantity}}</td>
            <td style="margin-right: 10px;" class="text-center">
            <a class="btn btn-danger text-white"
            (click)="deleteCart(cart.cartItemId)"
            routerLink="/cart/delete"><i class="fa fa-trash-o"></i></a></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="hasItems===false">
        <p>No Items in the cart</p>
      </div>
      <a class="btn btn-primary"
      routerLink="/orders" (click)="placeOrder()">Place order</a>
      <div style="height:30px;"></div>
    </div>
  </div>
</div>
