<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #6C63FF;" id="adminNavbar">
    <a class="navbar-brand text-white" id="header">Book Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        >
          <a class="nav-link" routerLink="/admin/"><i class="fa fa-shopping-cart"></i> Products</a>
        </li> 
        <li class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        >
          <a class="nav-link" routerLink="/admin/orders"><i class="fa fa-truck"></i> Orders</a>
        </li>
      </ul>
      <span class="navbar-text">
       <a id="logout" (click)="onLogout()" style="cursor: pointer;"><i class="fa fa-sign-out"></i> Logout</a>
      </span>
    </div>
  </nav>