.caro1 {
  background-image: url('../../../assets/images/bg3.jpg');
  /* background-size: cover; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 335px;
  /* margin-right: 50px; */
}

.card {
  /* width: 250px; */
  border-radius: 15px;
  border:none
}
